<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gitHub</key>
		<string>https://github.com/FrizzellC</string>
		<key>firstName</key>
		<string>Chantel</string>
		<key>lastName</key>
		<string>Frizzell</string>
	</dict>
	<dict>
		<key>gitHub</key>
		<string>https://github.com/danielhour</string>
		<key>firstName</key>
		<string>Daniel</string>
		<key>lastName</key>
		<string>Hour</string>
	</dict>
</array>
</plist>
